@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../../fonts/Raleway/static/Raleway-Bold.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../fonts/Roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../fonts/Roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../fonts/Roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
  font-display: swap;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

.visually-hidden,
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title, .text {
  margin: 0;
}

.list,
.socials {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  outline-style: none;
  cursor: pointer;
  padding: 0;
}

.menu {
  display: flex;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.box {
  display: flex;
  align-items: center;
  margin-bottom: -1px;
}

.menu__list,
.advantages__list,
.about-us__list,
.team__list,
.portfolio__list,
.clients__list {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__link:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
}

.icon {
  fill: currentColor;
}

.link,
.contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  outline-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196F3;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__logo {
  margin-right: 93px;
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #FFFFFF;
}

.footer__logo {
  margin: 0 0 20px;
  padding: 0;
}

.menu__link--current {
  position: relative;
  color: #2196F3;
}

.menu__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
}

.hero {
  padding: 200px 0;
  text-align: center;
  margin: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__button {
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  min-width: 200px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.contacts:hover,
.link:focus,
.contacts:focus {
  color: #2196F3;
}

.hero__button:hover,
.hero__button:focus,
.signup__button:hover,
.signup__button:focus {
  color: #2196F3;
  background-color: #FFFFFF;
}

.portfolio__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-of-type(2) {
  padding-bottom: 0;
}

.advantages {
  padding-bottom: 0;
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages__text {
  line-height: 1.71;
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.advantages__item {
  width: 270px;
}

.team__item {
  text-align: center;
}

.section:nth-of-type(4) {
  background-color: #F5F4FA;
}

.advantages__item:not(:last-child),
.about-us__item:not(:last-child),
.team__item:not(:last-child) {
  margin-right: 30px;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.about-us__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px 0, rgba(0, 0, 0, 0.14) 0 1px 1px 0, rgba(0, 0, 0, 0.12) 0 1px 3px 0;
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.socials__link--grayBeckground {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__items:not(:last-child) {
  margin-right: 10px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: #2196F3;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.signup__title {
  display: block;
  margin-bottom: 20px;
}

.footer .socials:hover,
.footer .socials:focus {
  background-color: var(--accent-color);
}

.address {
  width: 231px;
}

.socials-wrap {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-wrap {
  display: flex;
}

.about-us__title,
.signup__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__contacts--white {
  color: #FFFFFF;
}

.works__title {
  padding-bottom: 4px;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.works__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__list {
  justify-content: center;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.works__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover,
.works__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__text-item {
  padding: 20px 24px;
  min-width: 370px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.works__item {
  margin-right: 30px;
}

.works__item:nth-child(3n) {
  margin-right: 0;
}

.works__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.works__thumb-text {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  padding: 63px 24px;
  text-align: left;
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover .works__thumb-text,
.works__link:focus .works__thumb-text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  background-color: #FFFFFF;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1.25), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1.25);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover,
.modal__button:focus {
  color: #2196F3;
}

.client-form__title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.client-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--gray-color);
}

.client-form .icon {
  position: absolute;
  left: 12px;
  top: 30px;
  color: var(--black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding: 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-form__field:focus-within > .input {
  border-color: #2196F3;
}

.client-form__field:focus-within .icon {
  color: #2196F3;
}

.checkbox-field {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  line-height: 1.74;
  letter-spacing: 0.03em;
}

.checkbox-field__link {
  text-decoration: underline;
  color: #2196F3;
}

.checkbox-field__icon {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.checkbox-field__icon--checked {
  position: absolute;
  display: flex;
  opacity: 0;
  background-image: url("../images/icon_check.svg");
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field__icon--unchecked {
  display: flex;
  margin-right: 8px;
  opacity: 1;
  background-image: url("../images/vector.svg");
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .checkbox-field__icon--checked {
  opacity: 1;
}

.checkbox:checked ~ .checkbox-field__icon--unchecked {
  opacity: 0;
}

.signup {
  margin-top: 12px;
  margin-left: 93px;
}

.signup__field {
  display: flex;
}

.signup__input {
  padding: 15px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.signup__button {
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-form .signup__button {
  display: block;
  margin: 30px auto;
}

.signup__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
}

::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.client-form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.client-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.client-form__textarea::placeholder,
.client-form__input,
.client-form__textarea {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.client-form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.client-form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.client-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}/*# sourceMappingURL=main.css.map */