.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 480px;

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.mobileMenu-container {
    margin-left: auto;
    margin-right: auto;    
    padding: 0 15px 48px 40px;
    width: 480px;
}