.footer {
    padding: 60px 0;
    background-color: #2F303A;

    &__logo {
        margin: 0 0 20px;
        padding: 0;
    }

    &__logo--white {
        color: $white-color;
    }    
}

.footer-wrap {
    text-align: center;
}

.address-wrap {
    margin-bottom: 60px;
}

.socials-wrap {    
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .footer-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .address-wrap {
        margin-left: 61px;
    }

    .socials-wrap {
        margin: 5px 74px 102px 165px;       
    }
}

@media screen and (min-width: 1200px) {

    .footer-wrap {
        flex-wrap: nowrap;
        text-align: start;
    }
    
    .address-wrap {
        margin: 0;
    }

    .socials-wrap {
        margin: 12px 0 0 70px;            
    }
}

.address {
    width: 231px;
    margin: 0 auto;    

    &__item:not(:last-child) {
        margin-bottom: 8px;       
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    &__link--white {
        color: $white-color;
    }    

    @media screen and (min-width: 1200px) {       
        
        &__item:not(:last-child) {
            margin-bottom: 9px;
        }
    }
}