.client-form {
    &__title {
        display: block;
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 19px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $black-color;
    }
    
    &__field {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;

        @extend %client-form_text;
        color: $gray-color;
    }  

    &__input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 4px;
        padding: 12px 40px;

        @extend %client-form_text;
        color: $gray-color;
        outline-style: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon {
        position: absolute;
        left: 12px;
        top: 30px;

        color: $black-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__textarea {
        width: 100%;
        height: 120px;
        resize: none;
        margin-bottom: 20px;
        margin-top: 4px;
        padding: 12px 16px;

        @extend %client-form_text;
        color: $gray-color;
        outline-style: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__textarea::placeholder {
        @extend %client-form_text;
        color: rgba(117, 117, 117, 0.5);
    }

    &__button {
        @extend %form-button;
        display: block;
        margin: 30px auto;
    }
}

.client-form__input {
    .client-form__field:focus-within & {
        border-color: $accent-color;
    }
}

.client-form__icon {
    .client-form__field:focus-within & {
        color: $accent-color;        
    }
}

.client-form__textarea {
    .client-form__field:focus-within & {        
        border-color: $accent-color;
    }
}

.checkbox {
    @extend .visually-hidden;
}

.checkbox-field {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    line-height: 1.74;
    letter-spacing: 0.03em;

    &__link {
        text-decoration: underline;
        color: $accent-color;
    }

    &__icon {
        width: 16px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: border-box;
    }

    &__icon--checked {
        position: absolute;
        display: flex;
        opacity: 0;
        background-image: url("../images/icon_check.svg");
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon--unchecked {
        display: flex;
        margin-right: 8px;
        opacity: 1;
        background-image: url("../images/vector.svg");
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .checkbox:checked~&__icon--unchecked {
        opacity: 0;
    }

    .checkbox:checked~&__icon--checked {
        opacity: 1;
    }
}

.signup {
    
    &__title {
        @extend .about-us__title;
        display: block;
        margin-bottom: 20px;
    }

    &__input {        
        margin-bottom: 20px;
        padding: 15px;        
        width: 450px;
        height: 50px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;        
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(33, 150, 243, 0);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    }

    &__input::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        }

    &__button {
        @extend %flex;
        @extend %form-button;
        justify-content: space-between;        
        margin: 0 auto;
    }    

    @media screen and (min-width: 1200px) {
        margin-top: 12px;
        margin-left: 93px;
    
        &__field {
            display: flex;
        }
    
        &__input {
            width: 358px;
        }

        &__button {
            margin-left: 12px;
        }
    }
}