.link {
    @extend %noUnderlineNoOutline;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $black-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $accent-color;
    }

    &:focus {
        color: $accent-color;
    }
}