.logo {
    @extend %noUnderlineNoOutline;

    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $accent-color;
}