.portfolio {
    &__list {
        @extend %flex;
        justify-content: center;
    }

    &__item:not(:last-child) {
        margin-right: 8px;
    }

    &__button {
        padding: 6px 22px;
        border-radius: 4px;
        border: transparent;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        letter-spacing: 0.03em;
        color: $black-color;
        background-color: $gray-background;
        box-shadow: none;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover,
    &__button:focus {
        color: $white-color;
        background: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.works {
    &__title {
        padding-bottom: 4px;

        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $black-color;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: $gray-color;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    &__item {
        margin-right: 30px;
    }
    
    &__item:nth-child(3n) {
        margin-right: 0;
    }
    
    &__item:not(:nth-last-child(-n+3)) {
        margin-bottom: 30px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__text-item {
        padding: 20px 24px;
        min-width: 370px;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
    }

    &__thumb-text {
        position: absolute;
        left: 0;
        bottom: 0;

        height: 100%;
        padding: 63px 24px;

        text-align: left;
        font-size: 18px;
        line-height: 1.55;
        color: $white-color;
        background-color: rgba(33, 150, 243, 0.9);

        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.works__thumb-text {
    .works__link:hover & {
            transform: translateY(0);
        }

    .works__link:focus & {
        transform: translateY(0);
}
}