@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url("../../fonts/Raleway/static/Raleway-Bold.ttf") format("ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("../../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("../../fonts/Roboto/Roboto-Medium.ttf") format("ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("../../fonts/Roboto/Roboto-Bold.ttf") format("ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("../../fonts/Roboto/Roboto-Black.ttf") format("ttf");
    font-weight: 900;
    font-display: swap;
}